
<div id="wrapper">
	<div id="featured-wrapper">
		<div id="featured" class="extra2 margin-btm container">
			<div class="main-title">				
			</div>	
			<div class="ebox1"> <!--span class="fa fa-pagelines"></span-->
				<div class="title">
					<h1>Calendrier</h1>
					<br/>
				<span class="byline"></span> 
				<p>  Cette rubrique permet de visualiser par calendrier
				les soins apporter aux client.  </p>
				<p> Rechercher la fiche du patien en entrent le nom ou prenom</p>
					<span class="byline"></span> </div>
					<div >
									
				    <input type="text"  class="inputPatient"  placeholder="Enre le nom du patient">
				    <i class="fa fa-search fa-fw fa-x2"></i> <br/> <br/><br/> <br/>
				 	</div>
			</div>
			<div class="ebox2"> 
				<!--span class="fa fa-anchor"></span-->
				<div id="index">
				        <div >       
				            <div id="calendar" style="width:80%; height:auto;"></div>
				        </div>    
				</div>
			</div>
		</div>
	</div>
</div>
<div id="copyright" class="container">
	<p>&copy;flysyse 2016. All rights reserved  <a href="http://flysyse.com/">Contact</a> </p>
</div>