				<ul class="nav nav-tabs" style="margin-bottom:10px;">
						 			 <li class="nav-item" style="width:70%; padding-top: 10px; color:#8dc63f; font-weight: 200; font-size:25px;">
								    <span class="nav-link active"  >{{name}}&nbsp{{lastname}}</span>
								  	</li>
						  			<li class="nav-item">				   
						 			</li>
						</ul>	
									
					<table class="table table-striped" style="border-top:1px solid #fff;">
						<tbody >							
							<tr>
								<td style="text-align:right;  color:#23527c;"><i class="fa fa-home fa-fw fa-x2"></i>&nbsp Adresse:</td>
								<td style="text-align:left; color:#23527c;"><b>{{adresse}}</b></td>
							</tr>
							
							<tr>
								<td style="text-align:right;  color:#23527c;"><i class="fa fa-calendar fa-fw fa-x2"></i>&nbsp Date naiss. :</td>
								<td style="text-align:left; color:#23527c;">{{birth_date}}</td>
							</tr>
							<tr>
								<td style="text-align:right;  color:#23527c;"><i class="fa fa-female fa-fw fa-x2"></i><i class="fa fa-male fa-fw fa-x2"></i>&nbsp Sexe :</td>
								<td style="text-align:left; color:#23527c;"></td>
							</tr>
							<tr>
								<td style="text-align:right; width:200px; color:#23527c;">Numero SIS :</td>
								<td style="text-align:left; color:#23527c;">{{SIS}}</td>
							</tr>
							<tr>
								<td style="text-align:right;  color:#23527c;">Mutuelle :</td>
								<td style="text-align:left; color:#23527c;">{{mutuelle}}</td>
							</tr>
							<tr>
								<td style="text-align:right;  color:#23527c;">Profession :</td>
								<td style="text-align:left; color:#23527c;">{{profession}}</td>
							</tr>
							<tr>
								<td style="text-align:right;  color:#23527c;">Status patient :</td>
								<td style="text-align:left; color:#23527c;"><span style="padding:5px; background-color:#8dc63f; color:#fff; border-radius:10px  ">{{status}} </span></td>
							</tr>
							<tr>
							<td style="text-align:right;  color:#23527c;">Medecin traitant : </td> 
							<td style="text-align:left; color:#23527c;">{{doctor}}</td> 
							</tr>
							<tr>
							<td style="text-align:right;  color:#23527c;">
								<i class="fa fa-phone fa-fw fa-x2"></i>&nbsp Tél : </td> 
							<td style="text-align:left; color:#23527c;">{{telephone}}</td> 
							</tr>
							<tr>
							<td style="text-align:right;">
							<!--a href="#" class="delete" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
								 Suprimer </a-->	
							</td> 
							<td style="text-align:left;">

							<!--a href="#" class="modify" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
								<i class="fa fa-pencil-square fa-fw fa-x2"></i> &nbsp Modifier</a-->		
							</td> 
							</tr>
						</tbody>
					</table>
					<br/>
					<!--ul class="nav nav-tabs">
						  <li class="nav-item" style="width:70%; padding-top: 10px; color:#ccc; font-weight: 200; font-size:25px;">
						    <span class="nav-link active">Option</span>
						  </li>
						  <li class="nav-item">						   
						    <div class="nav-link ui toggle checkbox"><span><input type="checkbox" name="public" >
					 		 <label>Publier </label></span></div>
						  </li>
						</ul-->