
<div id="wrapper" >
	<div id="featured-wrapper">
		<div id="featured" class="extra2 margin-btm container">
			<div class="main-title">				
			</div>	
			<div class="ebox1"> 
			</div>
			<div class="ebox2"> 
				<!--span class="fa fa-anchor"></span-->
				<div class="title">						
					<h2>  </h2>
					<!--span class="byline">Integer sit amet pede vel arcu aliquet pretium</span--> 
				</div>
			</div>
		</div>
	</div>
</div>
<div id="copyright" class="container">
	<p>&copy;flysyse 2016. All rights reserved  <a href="http://flysyse.com/">Contact</a> </p>
</div>