
<div id="wrapper" >
	<div id="featured-wrapper">
		<div id="featured" class="extra2 margin-btm container">
			<div class="main-title">				
			</div>	
			<div class="ebox1"> 
				<form class="form-horizontal" style="margin-left:35%; margin-top:10%;" ng-submit="logout()">
							<div>				
								<div class="form-group">
									<div class="col-sm-6">						
											 <!--button ng-submit="logout()"  class="loginButton">
								                <span ng-show="!loginForm.loading"><i class="fa fa-sign-out fa-fw fa-x2"></i>loggout</span>
								                <!--span ng-show="loginForm.loading" class="fa fa-spinner"></span>
								                <span ng-show="loginForm.loading">Signing up...</span>
								              </button-->										
									</div>	
																
								</div>
								
							</div>
						</form>			
			</div>
			<div class="ebox2"> 
				<!--span class="fa fa-anchor"></span-->
				<div class="title">						
					<h2>  </h2>
					<!--span class="byline">Integer sit amet pede vel arcu aliquet pretium</span--> 
				</div>
			</div>
		</div>
	</div>
</div>
<div id="copyright" class="container">
	<p>&copy;flysyse 2016. All rights reserved  <a href="http://flysyse.com/">Contact</a> </p>
</div>