<!-- Modal popup -->

  <div class="modal-dialog"  role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"  style="color:#fff;">&times;</span></button>
        <div style="color:#fff; text-align:center;" >
        <span  >Nouveau Patient</span>
        </div>
      </div> 
      <form  name="myForm" class="my-form">
      <div class="modal-body" > 
      	<div class="form-group">  
	          <div class="radio">
			      <label><input type="radio">M</label>
			      <label><input type="radio">Mme</label>
			      <label><input type="radio">Mlle</label>
			      <label><input type="radio">Enf</label>
		</div>
		 </div>     
          <div class="form-group">    
          <div>       
            <input type="text" ng-model="name" class="inputPatient"  id="recipient-name" placeholder="Nom" required>
            </div> 
          </div>
           <div class="form-group">          
            <input type="text" ng-model="lastname"  class="inputPatient"  id="recipient-name" placeholder="Prenom" required>
          </div>
          <div class="form-group">          
            <input type="text" ng-model="birthdate"  class="inputPatient"  id="recipient-name" placeholder="date de naissance" required>
          </div>
		  <div class="form-group">          
            <input type="text" ng-model="street"  class="inputPatient"   name="street" id="recipient-name" placeholder="Rue" required>
          </div>   

		  <div class="form-group">          
            <input type="text" ng-model="housenumber"  class="inputPatient"   name="number" id="recipient-name" placeholder="N°" required>
          </div>   
          <div class="form-group">  
          <div >        
            <select  class="selectPatient" id="value_Id" >
            	<option >Code postale</option>
			    <option ng-repeat="code in codes track by $index" bn-log-dom-creation="with" ng-model="postalcode" value="{{code.code}}">{{code.code}} {{code.city}} </option>			  
			  </select>
          </div>    
            </div>     
		  <div class="form-group">          
            <input type="text" ng-model="SIS"  class="inputPatient"  name="SIS" id="recipient-name" placeholder="Numero Carte SIS" required>
          </div>
           <div class="form-group">          
            <input type="text" ng-model="mutuelle"  class="inputPatient"  name="SIS" id="recipient-name" placeholder="Mutuelle" required>
          </div>
            <div class="form-group">          
            <input type="text" ng-model="profession"  class="inputPatient"  name="profession" id="recipient-name" placeholder="profession" required>
          </div>
           <div class="form-group">      
            <input type="text" ng-model="doctor"  class="inputPatient"  id="recipient-name" placeholder="medecin traitant" required>
          </div> 
          <div class="form-group">      
            <input type="text" ng-model="telephone"  class="inputPatient"  id="recipient-name" placeholder="Télephone/Gsm" required>
          </div>          
            <div class="modal-footer" >

              <button class="buttonclose"  data-dismiss="modal">Annuler</button>
              <button  ng-click="addpatient()" class="button " >Valider</button>
               </div>           
       
      </div> </form>
       
    </div>
  </div>
