
<div > 
<div id="wrapper">
	<div id="featured-wrapper">
		<div id="featured" class="extra2  container" >
			<!--div class="main-title" >
			<div class="ebox1" style="border-right:none;">
				<a href="#/patient" style="color:#8dc63f; font-size:22px; font-weigth:500;" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><i class="fa fa-user fa-fw fa-x2"></i> &nbsp {{patient.length}} &nbsp Patient</a>

			</div>	
			<div class="ebox2" >
				<!--a href="#/patient" style="color:#8dc63f; font-size:22px;" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><i class="fa fa-eye fa-fw fa-x2"></i> &nbsp info</a>
			</div>
		<br/>
			</div-->	
			<div class="ebox1"> <!--span class="fa fa-pagelines"></span-->
				<div >									
				    <input ng-keyup="findpatient()" type="text" ng-model="pat"  class="inputPatient"  placeholder="Recheche patient">
				    <i class="fa fa-search fa-fw fa-x2"></i> 
				 </div>				 	
				<div class="title"  style="height:600px; overflow: scroll;">	
					<!--table class="table table-striped">						
						<thead style="background-color:#8dc63f; opacity: .5; ">							
						<tr >
								<th style="color:#23527c; font-size:14px; ">Nom</th>
								<th style="color:#23527c; font-size:14px; ">Prenom</th>
								<th style="text-align:right;">	</th>								
								<!--th style="text-align:left;">Status</th>
							</tr>
						</thead>
						<tbody>
						<!--tr ng-repeat="getpatient in patient track by $index" ng-click="patientfiche(getpatient.id)" class="tablepointer" >
								<td style="text-align:left;  color:#23527c;"><i class="fa fa-user fa-fw fa-x2"></i> &nbsp {{getpatient.name}}</td>
								<td style="text-align:left; color:#23527c;">{{getpatient.lastname}}</td>
								<td style="text-align:left;"></td>
								<!--td style="text-align:left;">{{getpatient.Status}}</td>
							</tr>						
						</tbody>
					</table-->					
						<div class="list-group"  >
							  <span class="list-group-item" style="background-color:#333300;color:#fff;">
							    <h4 class="list-group-item-heading"><i class="fa fa-list fa-fw fa-x2"></i>&nbsp Patients 
							     <a href=""  data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
							     	<i class="fa fa-plus fa-fw fa-x2" style="float:right; color:#ff8533;"></i></a></h4>	
							     	 </span>
							 <div id="infolistpatient" data-toggle="tab" data-target="#fiche"  ng-repeat="getpatient in patient track by $index" ng-click="patientfiche(getpatient.id)" style="cursor:pointer">
							  <span class="list-group-item">
							    <h4 class="list-group-item-heading" style="color:#4d2600;">{{getpatient.name | capitalize}} &nbsp {{getpatient.lastname }}</h4>
							    <p class="list-group-item-text" style="color:#333300;">
							    	<i class="fa fa-home fa-fw fa-x2">&nbsp</i>&nbsp &nbsp{{getpatient.street | capitalize}}-&nbsp{{getpatient.houseNum}}
							    	-&nbsp{{getpatient.Postalcode}}&nbsp&nbsp
							        <i class="fa fa-phone fa-fw fa-x2" style="color:#248f24;"></i>&nbsp &nbsp{{getpatient.telephone}}</p>
							  </span>
							</div>
						</div>
				</div>	
			</div>
			<div class="ebox2"> 
				<!--span class="fa fa-anchor"></span-->
				<div class="title ">						
					  <ul class="nav nav-tabs" id="myTab">
						  <li><a data-toggle="tab" data-target="#fiche" style="color:#333300; cursor:pointer;">Fiche</a></li>
						  <li><a data-toggle="tab" data-target="#menu1" style="color:#333300; cursor:pointer;">Historique</a></li>
						  <li><a data-toggle="tab" data-target="#plus" style="color:#333300; cursor:pointer;">Plus</a></li>						
						</ul>
						<div class="tab-content">
						  <div id="fiche" class="tab-pane fade ">
						    	 <div ng-include="'views/fiche.html'" ></div>
						  </div>
						  <div id="menu1" class="tab-pane fade" style="width:auto;" >	
					      <ul class="nav nav-tabs">
						  <li class="nav-item" style="width:30%; padding-top: 10px; color:#333300; font-weight: 200; font-size:15px;">
						    <span class="nav-link active">Publier la fiche</span>
						  </li>
						  <li class="nav-item" style="width:300px;">						   
						    <div class="nav-link ui toggle checkbox" style="width:40%;"><span> <input type="checkbox" name="public" >
					 		 <label>On </label></span></div>
						  </li>
						</ul>
						  </div>
						  <div id="plus" class="tab-pane fade">
						    <span style="color:#cccccc; font-size:20px"> <br/>  Option</span>
						    <br/>   <br/>  
						    <ul class="list-group">
							  <li class="list-group-item">
							    <span class="badge" style="background-color:#DC143C;" > <i class="fa fa-del fa-fw fa-x2"></i>Suprimer</span>
							    Supprimer le patient de votre base de donné
							  </li>
							  <li class="list-group-item">
							    <span class="badge" style="background-color:#ff751a;" > Mofifier</span>
							    Modifier les données du patient
							  </li>
							  
							  <li class="list-group-item">
							    <ul class="nav nav-tabs">
								  <li class="nav-item" style="width:auto; padding-top: 5px; color:#333300; font-weight: 200; font-size:15px;">
								    <span class="nav-link active">Accés au Patient </span>
								  </li>
								   <li class="nav-item" style="width:auto; padding-left: 10px; padding-top: 5px;">						   
								  	<div >        
							            <select   id="nurseAcess" style="width:auto;">
							            	<option >Personnel medical</option>
										    <option ng-repeat="nurse in nurse track by $index" bn-log-dom-creation="with" ng-model="postalcode" value="{{nurse.id}}">{{nurse.name | capitalize}} {{nurse.lastname | capitalize}} </option>			  
										  </select>
							          </div> 
								  </li>
								   <li class="nav-item" ng-click="addaccess()" style="width:auto; padding-top: 5px; color:#333300; font-weight: 200; font-size:15px;">
								    &nbsp <span class="badge" style="background-color:#248f24; cursor:pointer" ><i class="fa fa-del fa-fw fa-x2"></i>ok</span>
								  </li>

								  <!--li class="nav-item" style="width:auto; padding-left: 10px;">						   
								    <div class="nav-link ui toggle checkbox" style="width:40%;"><span> <input type="checkbox" name="public" >
							 		 <label>On </label></span></div>
								  </li-->
								</ul>

								<ul class="list">
								  <li class="list" ng-repeat="access in whocanAcc track by $index "style="width:auto; padding-top: 5px; font-weight:500; color:#248f24; font-size:13px;">
								    <span >{{access.name | capitalize }}&nbsp {{access.lastname | capitalize}} </span>
								  </li>						  
								</ul>

							  </li>
							    <li class="list-group-item">
							     <ul class="ist-group-item" >
							      <li class="dropdown">
							        Donnée accès au donées du patient à certain collaborateur &nbsp<a href="" class="dropdown-toggle" style="color:#333300;" data-toggle="dropdown" ><i class="fa fa-user fa-fw fa-x2"></i>
							        <span class="caret"></span></a>
							        <ul class="dropdown-menu" style="width:200px;">
							          <li style="text-align:left;  background-color:#cccccc;"><b>Nom  /  tel</b></li>
							          <li>Haris henri,  <b>0485254525</b></li>
							          <li>Didier duamon, <b>0496254514 </b></li>
							          <li>Eric renard, <b> 04758638255 </b> </li> 
							        </ul>
							      </li>
							    </ul>		
							  </li>
							</ul>
						  </div>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1"    role="dialog" aria-labelledby="exampleModalLabel" >
 <!-- Modal popup -->

  <div class="modal-dialog"  role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"  style="color:#fff;">&times;</span></button>
        <div style="color:#fff; text-align:center;" >
        <span  >Nouveau Patient</span>
        </div>
      </div> <br/>
      <form  name="myForm" class="my-form" ng-submit="modaleaddpatient()">
      <div class="modal-body" > 
      	<div class="form-group">  
	            <select  class="selectPatient" id="genreId" >
            	<option ><span style="color:#333300;">Titre</span></option>
			    <option bn-log-dom-creation="with" ng-model="genre" value="Mr">Mr</option>	
			    <option bn-log-dom-creation="with" ng-model="genre" value="Mme">Mme</option>			
			    <option bn-log-dom-creation="with" ng-model="genre" value="Mlle">Mlle</option>	
			    <option bn-log-dom-creation="with" ng-model="genre" value="Enfant">Enfant</option>			  
			  </select>
		 </div>     
          <div class="form-group">    
          <div>       
            <input type="text" ng-model="name" class="inputPatient"  id="recipient-name" placeholder="Nom" required>
            </div> 
          </div>
           <div class="form-group">          
            <input type="text" ng-model="lastname"  class="inputPatient"  id="recipient-name" placeholder="Prenom" required>
          </div>
          <div class="form-group">          
            <input type="text" ng-model="birthdate"  class="inputPatient"  id='datetimepicker4' placeholder="date de naissance" required>
			</div>

		   <div class="form-group">  
	            <select  class="selectPatient" id="sexe" >
            	<option ><span style="color:#333300;">Titre</span></option>
			    <option bn-log-dom-creation="with" ng-model="genre" value="Femme">Femme</option>	
			    <option bn-log-dom-creation="with" ng-model="genre" value="Homme">Homme</option>			
			  
			  </select>
		 </div> 

		  <div class="form-group">          
            <input type="text" ng-model="street"  class="inputPatient"   name="street" id="recipient-name" placeholder="Rue" required>
          </div>   

		  <div class="form-group">          
            <input type="text" ng-model="housenumber"  class="inputPatient"   name="number" id="recipient-name" placeholder="N°" required>
          </div>   
          <div class="form-group">  
          <div >        
            <select  class="selectPatient" id="postcode" >
            	<option ><span style="color:#333300;">Code postale</span></option>
			    <option ng-repeat="code in codes track by $index" bn-log-dom-creation="with" ng-model="postalcode" value="{{code.code}}">{{code.code}} {{code.city}} </option>			  
			  </select>
          </div>    
            </div>  
             
		  <div class="form-group">          
            <input type="text" ng-model="SIS"  class="inputPatient"  name="SIS" id="recipient-name" placeholder="Numero Carte SIS" required>
          </div>
           <div class="form-group">          

           	<select  class="selectPatient" id="mut">
            	   <option ><span style="color:#333300;">Mutuelle</span></option>
			       <option bn-log-dom-creation="with" ng-model="mutuelle" value="mutualités chrétiennes">mutualités chrétiennes</option>	
			       <option bn-log-dom-creation="with" ng-model="mutuelle" value="mutualités neutres">mutualités neutres</option>
			       <option bn-log-dom-creation="with" ng-model="mutuelle" value="mutualités socialistes">mutualités socialistes</option>
			       <option bn-log-dom-creation="with" ng-model="mutuelle" value="mutualités libérales">mutualités libérales</option>
			       <option bn-log-dom-creation="with" ng-model="mutuelle" value="mutualités libres">mutualités libres</option>
			        <option bn-log-dom-creation="with" ng-model="mutuelle" value="Caisse auxiliaire d'assurance maladie-invalidité">Caisse auxiliaire d'assurance maladie-invalidité</option>
			       <option bn-log-dom-creation="with" ng-model="mutuelle" value="Caisse des soins de santé de HR Rail">Caisse des soins de santé de HR Rail</option>
			  </select>           
          </div>
       <div class="form-group">  
	            <select  class="selectPatient" id="groupS" >
            	   <option ><span style="color:#333300;">Groupe sangiun</span></option>
			       <option bn-log-dom-creation="with" ng-model="groupe" value="A">A</option>	
			       <option bn-log-dom-creation="with" ng-model="groupe" value="A+">A+</option>
			       <option bn-log-dom-creation="with" ng-model="groupe" value="B">B</option>
			       <option bn-log-dom-creation="with" ng-model="groupe" value="B+">B+</option>
			       <option bn-log-dom-creation="with" ng-model="groupe" value="B-">B-</option>
			       <option bn-log-dom-creation="with" ng-model="groupe" value="O+">O+</option>			  

			  </select>
		 </div>  
            <div class="form-group">          
            <input type="text" ng-model="profession"  class="inputPatient"  name="profession" id="recipient-name" placeholder="profession" required>
          </div>
           <div class="form-group">      
            <input type="text" ng-model="doctor"  class="inputPatient"  id="recipient-name" placeholder="medecin traitant" required>
          </div> 
          <div class="form-group">      
            <input type="text" ng-model="telephone"  class="inputPatient"  id="recipient-name" placeholder="Télephone" required>
          </div>  
           <div class="form-group">      
            <input type="text" ng-model="Gsm"  class="inputPatient"  id="recipient-name" placeholder="Gsm" required>
          </div>         
            <div class="modal-footer" >
            	<button  ng-submit="modaleaddpatient()" class="buttonvalid " >Valider</button>
              <button class="buttonclose"  data-dismiss="modal">Annuler</button>
              
               </div>           
       
      </div> </form>
       
    </div>
  </div>
</div>
  </div>