<div id="wrapper">
    <div id="featured-wrapper">
        <div id="featured" class="extra2  container">
            <!--div class="main-title" >
			<div class="ebox1" style="border-right:none;">
				<a href="#/patient" style="color:#8dc63f; font-size:22px; font-weigth:500;" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><i class="fa fa-user fa-fw fa-x2"></i> &nbsp {{patient.length}} &nbsp Patient</a>

			</div>	
			<div class="ebox2" >
				<!--a href="#/patient" style="color:#8dc63f; font-size:22px;" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><i class="fa fa-eye fa-fw fa-x2"></i> &nbsp info</a>
			</div>
		<br/>
			</div-->
            <div class="ebox1">
                <!--span class="fa fa-pagelines"></span-->

                <div class="list-group">
                    <input ng-keyup="findpatient()" type="text" ng-model="pat" class="searchPatient" placeholder="Recheche">
                    <i class="fa fa-search fa-fw fa-x2"></i>
                </div>
                <div class="list-group">
                    <span class="list-group-item" style="background-color:#333300;color:#fff;">
							<h4 class="list-group-item-heading"><i class="fa fa-list fa-fw fa-x2"></i>&nbsp Patients 
							     <a href=""  data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
							     	<i class="fa fa-plus fa-fw fa-x2" style="float:right; color:#ff8533;"></i></a></h4>	
						</span>
                </div>
                <div id="main_block_with_scroll" class="title scrollbarp">
                    <div class="list-group" infinite-scroll="addMoreItems()" infinite-scroll-distance="1" infinite-scroll-container='"#main_block_with_scroll"' infinite-scroll-parent="true" style="border-style:none;">

                        <div id="infolistpatient" data-toggle="tab" data-target="#fiche" ng-repeat="getpatient in patient track by $index" ng-click="patientfiche(getpatient.id)" style="cursor:pointer; border-style:none;">
                            <span class="list-group-item">
							    <h4 class="list-group-item-heading" style="color:#4d2600;">{{getpatient.name | capitalize}} &nbsp {{getpatient.lastname }}</h4>
							    <p class="list-group-item-text" style="color:#333300;">
							    	<i class="fa fa-home fa-fw fa-x2">&nbsp</i>&nbsp &nbsp{{getpatient.street | capitalize}}-&nbsp{{getpatient.houseNum}}
							    	-&nbsp{{getpatient.Postalcode}}&nbsp&nbsp
							        <i class="fa fa-phone fa-fw fa-x2" style="color:#248f24;"></i>&nbsp &nbsp{{getpatient.telephone}}</p>
							  </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ebox2">
                <div class="title ">

                    </br>
                    <ul class="nav nav-tabs" id="myTab">
                        <li><a data-toggle="tab" data-target="#fiche" style="color:#333300; cursor:pointer;">Fiche</a></li>
                        <li><a data-toggle="tab" data-target="#menu1" style="color:#333300; cursor:pointer;">Historique</a></li>
                        <li><a data-toggle="tab" data-target="#plus" style="color:#333300; cursor:pointer;">Plus</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="fiche" class="tab-pane fade ">
                            <div ng-include="'views/fiche.html'"></div>
                        </div>
                        <div id="menu1" class="tab-pane fade" ng-controller="calendarController">
                            <!--ul class="nav nav-tabs">
								  <li class="nav-item" style="width:30%; padding-top: 10px; color:#333300; font-weight: 200; font-size:15px;">
								    <span class="nav-link active">Publier la fiche</span>
								  </li>
								  <li class="nav-item" style="width:300px;">						   
								    <div class="nav-link ui toggle checkbox" style="width:40%;"><span> <input type="checkbox" name="public" >
							 		 <label>On </label></span></div>
								  </li>
							</ul-->

                        </div>
                        <div id="plus" class="tab-pane fade">

                            <span style="color:#cccccc; font-size:20px"> <br/>  Option</span>
                            <br/>
                            <br/>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="badge" style="background-color:#DC143C;"> 
							    	 <a href=""  data-toggle="modal" data-target="#deletemodale" data-whatever="@mdo" style="text-decoration:none; color:#fff">
							    	 	<i class="fa fa-del fa-fw fa-x2"></i>Suprimer </a></span> Supprimer le patient de votre base de donné
                                </li>
                                <li class="list-group-item">
                                    <span class="badge" style="background-color:#ff751a;"> Mofifier</span> Modifier les données du patient
                                </li>

                                <li class="list-group-item">
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item" style="width:auto; padding-top: 5px; color:#333300; font-weight: 200; font-size:15px;">
                                            <span class="nav-link active">Accés au Patient </span>
                                        </li>
                                        <li class="nav-item" style="width:auto; padding-left: 10px; padding-top: 5px;">
                                            <div>
                                                <select id="nurseAcess" style="width:auto;">
                                                    <option>Personnel medical</option>
                                                    <option ng-repeat="nurse in nurse track by $index" bn-log-dom-creation="with" ng-model="postalcode" value="{{nurse.id}}">{{nurse.name | capitalize}} {{nurse.lastname | capitalize}} </option>
                                                </select>
                                            </div>
                                        </li>
                                        <li class="nav-item" ng-click="addaccess()" style="width:auto; padding-top: 5px; color:#333300; font-weight: 200; font-size:15px;">
                                            &nbsp <span class="badge" style="background-color:#248f24; cursor:pointer"><i class="fa fa-del fa-fw fa-x2"></i>ok</span>
                                        </li>
                                        <!--li class="nav-item" style="width:auto; padding-left: 10px;">						   
								    <div class="nav-link ui toggle checkbox" style="width:40%;"><span> <input type="checkbox" name="public" >
							 		 <label>On </label></span></div>
								  </li-->
                                    </ul>
                                    <ul class="list">
                                        <li class="list" ng-repeat="access in whocanAcc track by $index " style="width:auto; padding-top: 5px; font-weight:500; color:#248f24; font-size:13px;">
                                            <span>{{access.name | capitalize }}&nbsp {{access.lastname | capitalize}} </span>
                                        </li>
                                    </ul>
                                </li>
                                <li class="list-group-item">
                                    <ul class="ist-group-item">
                                        <li class="dropdown">
                                            Donnée accès au donées du patient à certain collaborateur &nbsp<a href="" class="dropdown-toggle" style="color:#333300;" data-toggle="dropdown"><i class="fa fa-user fa-fw fa-x2"></i>
							        <span class="caret"></span></a>
                                            <ul class="dropdown-menu" style="width:200px;">
                                                <li style="text-align:left;  background-color:#cccccc;"><b>Nom  /  tel</b></li>
                                                <li>Haris henri, <b>0485254525</b></li>
                                                <li>Didier duamon, <b>0496254514 </b></li>
                                                <li>Eric renard, <b> 04758638255 </b> </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'views/deletemodale.html'"></div>
<div ng-include="'views/createmodal.html'"></div>